@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Rakkas&display=swap');

:root {
    --primary-color: #0dff15;
    --secondary-color: #3ca665;
    --text-color: #024959;
    --background-color: #ddf2d5;
    --button-hover: #012E40;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}


form {
   color: rgb(255, 255, 255);
   text-align: center;
   margin-right: 8%;
}

.class {
   margin-left: 8%;
   margin-right: 8%;
}

h1 {
   color: rgb(255, 255, 255);
   text-align: center;
   font-size: 200%;
   margin-left: 8%;
}

h3 {
    color: rgb(255, 255, 255);
}

h4 {
    margin-left: 8%;
    margin-top: 5%;
}

h2 {
    margin-left: 8%;
    margin-top: 5%;
}

p {
    margin-top: 10px;
    margin-left: 8%;
}

a {
    margin-top: 10px;
    margin-left: 8%;
}

img {
    max-width: 70%;
    margin-top: 8%;
    margin-left: 8%;
}

.container-l {
    width: 100%;
    display: flex; 
}

.imagem-l {
    width: 30%; 
    float: left; 
    margin-right: 10px; 
}

.text-l {
    width: 70%;
    display: inline-block; 
    float: right;
    margin-top: 10%;
}
.container-r {
    width: 100%;
    display: flex; 
}

.imagem-r {
    width: 30%; 
    float: right; 
    margin-right: 10px; 
}

.text-r {
    width: 70%;
    display: inline-block; 
    float: right;
    margin-top: 10%;
}

footer {
    text-align: center;
    margin-top: 10%;
}