@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Rakkas&display=swap');

:root {
    --primary-color: #0dff15;
    --secondary-color: #3ca665;
    --text-color: #024959;
    --background-color: #ddf2d5;
    --button-hover: #012E40;
    --font-body: "Chocolate Classical Sans", serif;
    --font-titulo: "Rakkas", serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-body);
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
}


h1 {
   color: rgb(255, 255, 255);
   text-align: center;
}

h3 {
    color: rgb(255, 255, 255);
}

h4 {
    margin-left: 8%;
    margin-top: 5%;
}

h2 {
    margin-left: 8%;
    padding-top: 1rem;
}

p {
    margin-top: 10px;
    margin-left: 8%;
}

a {
    margin-top: 10px;
    margin-left: 8%;
}

img {
    max-width: 70%;
    margin: 8%;
}
